.leftSidebar {
  flex: 0.3;
  border-right: 2px solid rgb(235, 233, 233);
}
.leftSidebar_toggle > span {
  font-size: 16px;
  font-weight: 650;
  margin-left: 7px;
  margin-right: 260px;
  color: #02a7ed;
  width: 26px;
  display: none;
}

.leftSidebar_toggle > label {
  font-size: 19px;
  font-weight: bold;
  color: #02a7ed;
  display: none;
}
.leftSidebar_checkBox {
  display: none;
}

.leftSidebar_marginTop {
  margin-top: 26px;
}
.leftSidebar_items {
  margin-left: 40%;
}

.leftSidebar_item {
  display: flex;
  align-items: center;
  padding: 7px 5px;
  cursor: pointer;
  color: gray;
}
.leftSidebar_item:hover {
  background-color: rgb(231, 238, 250);
  border-right: 3px solid #02a7ed;
  color: #02a7ed !important;
}
.leftSidebar_item > h4 {
  margin-right: 7px;
  font-weight: 500;
}

.leftSidebar_item > p {
  font-weight: 500;
}

.leftSidebar_moreCategories {
  display: flex;
  margin-left: 40%;
  margin-top: 10px;
  font-weight: 600;
  color: #02a7ed;
  cursor: pointer;
}
.leftSidebar_moreCategories > p {
  margin-right: 5px;
}

/* Responsive styling using media query*/
@media (max-width: 850px) {
  .leftSidebar_toggle {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 7px;
    margin-right: 7px;
  }
  .leftSidebar_toggle > span {
    display: block;
  }
  .leftSidebar_toggle > label {
    display: block;
    cursor: pointer;
    display: none;
  }
  .leftSidebar {
    flex: 1;
    border: none;
    width: 100%;
  }
  .leftSidebar_marginTop {
    margin-top: 5px;
  }
  .leftSidebar_items {
    margin-left: 7px;
  }
  .leftSidebar_item > h4 {
    font-size: 14px;
    margin-right: 3px;
  }
  .leftSidebar_item > p {
    font-size: 14px;
  }
  .leftSidebar_moreCategories {
    margin-left: 7px;
    margin-top: 5px;
    margin-bottom: 10px;
  }
  .leftSidebar_moreCategories > p {
    font-size: 14px;
    margin-left: 5px;
  }
  .left #toogle:checked + .leftSidebar_items {
    display: block;
  }
}
